@using NETCoreExperimentalWebApp.Models.StarWarsModels
@model IEnumerable<StarshipModel>

@{
    ViewData["Title"] = "Starships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Starships</h2>


<div data-bind="foreach: books" id="gridItems" class="ui link cards column">
@foreach (var item in Model)
{
    <div class="ui card">
        <div class="content">
            <div class="header">@Html.DisplayFor(modelItem => item.Name)</div>
        </div>
        <div class="content">
            <div class="meta">@Html.DisplayFor(modelItem => item.Model)</div>
            <div class="meta">@Html.DisplayFor(modelItem => item.Manufacturer)</div>
            @if (item.Cost != null)
            {
                <div class="meta">@Html.DisplayFor(modelItem => item.Cost) credits</div>
            }
        </div>
        <div class="content">
            @if (item.Length != null)
            {
                <div class="description">@Html.DisplayFor(model => item.Length) meters</div>
            }
            @if (item.HyperdriveRating != null)
            {
                <div class="description">@Html.DisplayNameFor(model => model.HyperdriveRating): @Html.DisplayFor(modelItem => item.HyperdriveRating)</div>
            }
            @if (item.MGLT != null)
            {
                <div class="description">@Html.DisplayNameFor(model => model.MGLT): @Html.DisplayFor(modelItem => item.MGLT)</div>
            }
        </div>
    </div>
}
</div>

