@model List<NewsArticleModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="ui link cards">
    @foreach (var article in Model)
    {
        <div class="ui card">
            <a class="image" href="@Url.Content(article.Url)" target="_blank">
                <img src="@Url.Content(article.UrlToImage)" />
            </a>
            <a class="content" href="@Url.Content(article.Url)" target="_blank">
                <div class="header">@Html.DisplayFor( title => article.Title)</div>
                <div class="meta">By: @Html.DisplayFor( author => article.Author)</div>
            </a>
            <a class="extra content" href="@Url.Content(article.Url)" target="_blank">
                <div class="meta">@Html.DisplayFor(description => article.Description)</div>
            </a>
        </div>
    }
</div>