@model IEnumerable<NETCoreExperimentalWebApp.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Books</h2>

<p>
    <a class="ui secondary button" asp-action="Create">Enter a New Book</a>
</p>
<div class="ui link cards">
    @foreach (var item in Model)
    {
        <div class="ui card">
            <a class="image" asp-action="Edit" asp-route-id="@item.id">
                <img src="@item.Image">
            </a>
            <a class="content" asp-action="Edit" asp-route-id="@item.id">
                <div class="header">@item.Title</div>
                <div class="meta">@item.Author</div>
            </a>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui button">
                        <a asp-action="Edit" asp-route-id="@item.id">
                            <i class="edit icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a asp-action="Details" asp-route-id="@item.id">
                            <i class="green info icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a asp-action="Delete" asp-route-id="@item.id">
                            <i class="red delete icon large"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
