@model IEnumerable<NETCoreExperimentalWebApp.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Books</h2>

<p>
    <a class="ui secondary button" asp-action="Create">Enter a New Book</a>
</p>
<table class="ui celled table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <img class="ui tiny image" src="@item.Image">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">
                    <i class="edit icon large"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.id">
                    <i class="green info icon large"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.id">
                    <i class="red delete icon large"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
