@model IEnumerable<NETCoreExperimentalWebApp.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Books</h2>
<div class="ui right floated icon buttons" style="display:none">
    <button id="btnDisplayGrid" class="ui button">
        <i class="block layout icon"></i>
    </button>
    <button id="btnDisplayList" class="ui button">
        <i class="sidebar icon"></i>
    </button>
</div>
<button id="btnAddBook" class="ui button">Add Book To Knockout</button>
<p>
    <a class="ui secondary button" asp-action="Create">Enter a New Book</a>
</p>
<div id="GridItems" class="ui link cards" style="display:none">
    @foreach (var item in Model)
    {
        <div class="ui card">
            <a class="image" asp-action="Edit" asp-route-id="@item.id">
                <img src="@item.Image">
            </a>
            <a class="content" asp-action="Edit" asp-route-id="@item.id">
                <div class="header">@item.Title</div>
                <div class="meta">@item.Author</div>
            </a>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui button">
                        <a asp-action="Edit" asp-route-id="@item.id">
                            <i class="edit icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a asp-action="Details" asp-route-id="@item.id">
                            <i class="green info icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a asp-action="Delete" asp-route-id="@item.id">
                            <i class="red delete icon large"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<table id="ListItems" class="ui celled table" style="display:none">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <img class="ui tiny image" src="@item.Image">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">
                    <i class="edit icon large"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.id">
                    <i class="green info icon large"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.id">
                    <i class="red delete icon large"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="ui divider"></div>
<h2 class="ui header">Knockout Fueled List</h2>
<div data-bind="foreach: books" id="GridItems" class="ui link cards">
    <div class="ui card">
        <a class="image" data-bind="attr: { href: 'Books/Edit/' + id }">
            <img data-bind="attr: { src: image }" />
        </a>
        <a class="content" data-bind="attr: { href: 'Books/Edit/' + id }">
            <div class="header" data-bind="text: title"></div>
            <div class="meta" data-bind="text: author"></div>
        </a>
        <div class="extra content">
            <div class="ui fluid buttons">
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Edit/' + id }">
                        <i class="edit icon large"></i>
                    </a>
                </div>
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Details/' + id }">
                        <i class="green info icon large"></i>
                    </a>
                </div>
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Delete/' + id }">
                        <i class="red delete icon large"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal">
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Author</label>
                <input type="text" name="author" placeholder="Author">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="image" placeholder="Image URL">
            </div>
            <div class="field">
                <div class="ui selection dropdown">
                    <input type="hidden" name="type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Type</div>
                    <div class="menu">
                        <div class="item" data-value="0">Board</div>
                        <div class="item" data-value="1">Standard</div>
                        <div class="item" data-value="2">Electronic</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui buttons">
            <button id="btnConfirmAddBook" class="ui button">Confirm</button>
            <button id="btnCancelAddBook" class="ui button">Cancel</button>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
            viewModel = {
                books: ko.observableArray()
            };

            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/Books/GetIndex",
                }).done(function (data) {
                    $(data).each(function (index, element) {
                        viewModel.books.push(element);
                    });
                    ko.applyBindings(viewModel);
                });
            });

            $("#btnDisplayGrid").on("click",
                function () {
                    $("#ListItems").fadeOut();
                    $("#GridItems").fadeIn();
                });

            $("#btnDisplayList").on("click",
                function () {
                    $("#GridItems").fadeOut();
                    $("#ListItems").fadeIn();
                });

            $("#btnAddBook").on("click",
                function () {
                    $(".ui.modal").modal('show');
                });

            $("#btnCancelAddBook").on("click",
                function () {
                    $(".ui.modal").modal('hide');
                });

            $("#btnConfirmAddBook").on("click",
                function () {
                    console.log("Adding Book");
                    console.log(viewModel.books());
                    var book = {
                        title: "The Lorax",
                        author: "Dr. Seuss",
                        type: 2,
                        image: "https://images-na.ssl-images-amazon.com/images/I/61MkcD8eXtL._SX365_BO1,204,203,200_.jpg",
                    }
                    var addBook = $.ajax({
                        type: "POST",
                        url: "/Books/CreateViaJSON",
                        data: JSON.stringify(book),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) { book.id = data; }
                    });
                    addBook.done(function () {
                        console.log(book);
                        viewModel.books.push(book);
                        console.log(JSON.stringify(book));
                        console.log(viewModel.books());
                    });
                    $(".ui.modal").modal('hide');
                });
        </script>
    }
